{% extends "index.html" %}
{% block content %}
<h2>Login</h2>
    <form name="sentMessage" id="contactForm" method="post" novalidate>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Username</label>
          <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <br>
      <div>{{error}}</div>
      <div id="success"></div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Login</button>
      </div>
    </form>
{% endblock %}
