{% extends "index.html" %}
{% block content %}
<h2>Sign-up</h2>
<form name="sentMessage" id="contactForm" method="post" novalidate>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Username</label>
      <input name="username" value="{{username}}" type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
      <div>{{error_username}}</div>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Password</label>
      <input type="password" name="password" value="" class="form-control" placeholder="Password">
      <div>{{error_password}}</div>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Verify password</label>
      <input type="password" name="verify" value="" class="form-control" placeholder="Verify-Password">
      <div>{{error_verify}}</div>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>E-mail</label>
      <input type="text" name="email" value="{{email}}" type="email" class="form-control" placeholder="Email Address" id="email"
        required data-validation-required-message="Please enter your email address.">
      <div>{{error_email}}</div>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <br>
  <div id="success"></div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Sign-up</button>
  </div>
</form>
{% endblock %}
